Source: koji
Section: devel
Maintainer: Reproducible Builds Maintainers <reproducible-builds@lists.alioth.debian.org>
Uploaders: Marek Marczykowski-Górecki <marmarek@invisiblethingslab.com>,
 Ximin Luo <infinity0@debian.org>
Priority: extra
Standards-Version: 3.9.6
Build-Depends:
 debhelper (>= 9.0),
 dh-python,
 dh-systemd,
 createrepo,
 help2man,
 pkg-config,
 python-all,
 python-cheetah,
 python-libxml2,
 python-libvirt,
 python-kerberos,
 python-openssl,
 python-qpid,
 python-rpm,
 python-simplejson,
 python-urlgrabber,
 systemd,
 yum
Homepage: https://fedorahosted.org/koji/
Vcs-Git: https://anonscm.debian.org/git/reproducible/koji.git
Vcs-Browser: https://anonscm.debian.org/cgit/reproducible/koji.git

Package: koji
Architecture: all
Depends: python, ${misc:Depends}, ${python:Depends}
Description: RPM-based build system
 The Fedora Project uses Koji for their build system, as do several other
 projects.
 .
 Koji's goal is to provide a flexible, secure, and reproducible way to build
 software.
 .
 Key features:
 .
  -  New buildroot for each build
  -  Robust XML-RPC APIs for easy integration with other tools
  -  Web interface with SSL and Kerberos authentication
  -  Thin, portable command line client
  -  Users can create local buildroots
  -  Buildroot contents are tracked in the database
  -  Versioned data 
