#!/usr/bin/make -f

export PYBUILD_NAME=koji
export PYBUILD_SYSTEM=custom
export DH_VERBOSE=1

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install -S makefile

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. help2man --no-info -n "RPM-based build system client" --version-string=1.10.0 ./cli/koji > debian/koji.1

override_dh_auto_clean:
	rm -f debian/koji.1
	rm -f vm/kojikamid
	dh_auto_clean
