#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. help2man --no-info -n "RPM-based build system client" --version-string=1.10.0 ./cli/koji > debian/koji.1

override_dh_auto_clean:
	rm -f debian/koji.1
	dh_auto_clean

override_dh_install:
	dh_install --fail-missing

override_dh_python2:
	dh_python2 -p koji-common
	dh_python2 -p koji-client
	dh_python2 -p koji-servers /usr/lib/koji-hub-plugins/
	dh_python2 -p koji-servers /usr/share/koji-hub/
	dh_python2 -p koji-servers /usr/share/koji-web/
	dh_python2 -p koji-servers /usr/share/koji-web/lib/kojiweb/
